  <div class="events-section">
    <h2 class="events-section-title">Events You've Created</h2>
    <div class="events-wrapper">
      <% @user.created_events.order(:date).all.each do |event| %>
        <div class="event-container">
          <%= link_to event.title, event_path(event), class:"event-title" %>
          <p class="event-location">
            <span class="attribute-descriptor">Location: </span>
            <%= event.location %>
          </p>
          <p class="event-date">
            <span class="attribute-descriptor">Date: </span>
            <%= event.date.to_formatted_s(:rfc822) %>
          </p>
        </div>
      <% end %>
    </div>
  </div>

    <div class="events-section">
    <h2 class="events-section-title">Upcoming Events You're Attending</h2>
    <div class="events-wrapper">
      <% @user.attending_events.order(:date).all.each do |event| %>
        <% if event.future %>
          <div class="event-container">
            <%= link_to event.title, event_path(event), class:"event-title" %>
            <p class="event-location">
              <span class="attribute-descriptor">Location: </span>
              <%= event.location %>
            </p>
            <p class="event-date">
              <span class="attribute-descriptor">Date: </span>
              <%= event.date.to_formatted_s(:rfc822)  %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

      <div class="events-section">
    <h2 class="events-section-title">Events You've Attended</h2>
    <div class="events-wrapper">
      <% @user.attending_events.order(:date).all.each do |event| %>
        <% if event.past %>
          <div class="event-container">
            <%= link_to event.title, event_path(event), class:"event-title" %>
            <p class="event-location">
              <span class="attribute-descriptor">Location: </span>
              <%= event.location %>
            </p>
            <p class="event-date">
              <span class="attribute-descriptor">Date: </span>
              <%= event.date.to_formatted_s(:rfc822) %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>






