<p id="notice"><%= notice %></p>

<h1> <%= @event.title %> </h1>
<h3>Event details </h3>
<p class="event-location">
  <span class="attribute-descriptor">Location: </span>
  <%= @event.location %>
</p>
<p class="event-date">
  <span class="attribute-descriptor">Date: </span>
  <%= @event.date.to_formatted_s(:long_ordinal) %>
</p>
<p class="event-creator">
  <span class="attribute-descriptor">Host: </span>
  <%= @event.creator[:username] %>
</p>

<button class="nav-button">
  <%= link_to 'Back', events_url %>
</button>
