<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-wrapper">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <header class="page-header">
        <nav class="page-navbar">
          Navbar coming soon
        </nav>
      </header>
      <div class="body-wrapper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
