<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="main-wrapper">

      <header class="page-header">
        <%= link_to "Private Events", root_path, class: "logo" %>
        <nav class="page-navbar">
          <% if user_signed_in? %>
              <%= link_to 'Create Event', new_event_path, class: "nav-link create-event"  %>
              <%= link_to "Your Events", upcoming_events_path(current_user[:id]), class: "nav-link"  %>
              <%= link_to current_user.username, edit_user_registration_path, class: "nav-link"  %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: "nav-link"  %>
            <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link"  %>
          <% end %>
        </nav>
      </header>
      <div class="body-wrapper">
        <% unless notice.nil? %>
          <p id="notice"><%= notice %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>

